.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.input{
	width:inherit;
	display: inline-block;
	margin: auto 30px;
	margin-bottom: 5rem;
}

.input textarea{
	min-height: 60px;
	min-width: 25rem;
	display: block;
	resize: vertical;
}

#show{
	margin-top: 10px;
	display: block;
	clear: right;
	text-align: right;
}

.output{

}