.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.input{
	display: inline-block;
	padding: 10px auto;
	margin-bottom: 5rem;
}

.input textarea{

	width : 100%;
	min-height: 60px;

}

#show{
	margin-top: 10px;
	display: block;
	text-align: left;
}

.output{

}