.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.input{
	display: inline-block;
	width:inherit;
	margin: 2rem auto;
	padding: 10px auto;
	margin-bottom: 5rem;
}

.input textarea{
	min-height: 60px;
	resize: vertical;
	width:inherit;
}

#show{
	margin-top: 10px;
	display: block;
	text-align: right;
	float: right;
}

.output{

}